div.descricao {
    background-color: aqua;
    color: purple;
    text-align: justify;
    text-align-last: center;
    text-indent: 50px;
    letter-spacing: 1px;
}

h2 {
    color: red;
    text-decoration-line: overline underline;
    text-decoration-color: aquamarine;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
}

.lista {
    text-transform: uppercase;
}