p {
    font-family: 'Raleway', cursive;
}

#segundo {
    font-weight: 700;   
    font-style: italic; 
    font-size: 30px;
}

#quarto {
    font-weight: 700;   
    
}

#terceiro {
    font-style: italic;    
}