@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,700;1,100&display=swap');

p {
    font-family: 'Raleway', sans-serif;
}

#segundo {
    font-weight: 700;   
    font-style: italic; 
    
}

#quarto {
    font-weight: 700;   
    
}

#terceiro {
    font-style: italic;    
}